body {
    padding: 0;
    margin: 0;
    background:black;
}

p{
    color:white;
}

h1{
	font-family: "Cooper Black";
    text-align: center;
   font-stretch: expanded;
   color:red;
   font-size: 4em;
   letter-spacing: 0.2em;
   border-radius: 0.2em;
   font-size: 90px;
   background:gray;
}

#container{
    border-style:solid;
    border-top-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 10px;
}
#valores{
    display:inline;
}


td{
    color:white;
    text-align: center;
}
video {
    margin-left: 100px;
    margin-top: 35px;
}
