body {
    padding: 0;
    margin: 0;
    background:black;
}

p{
    color:white;
    font-family: "Verdana","Cooper Black";
    font-size: 1.2em;
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
}

h1{
   font-family: "Verdana","Cooper Black";
   text-align: center;
   font-stretch: expanded;
   color:white;
   font-size: 4em;
   letter-spacing: 0.05em;
   border-radius: 0.2em;
   font-size: 90px;
   background:black;
}


button{
    width: 10em;
    height: 2.5em;
    font-family: "Verdana","Cooper Black";
    border-color:#5CE1E6;
    border-radius: 1em;
    background-color: black;
    color:white;
    cursor: pointer;
    font-size: 1.5em;
}

button:hover{
    color:black;
    background-color:white;
}

#valores{
    display:inline;
    font-family: "Verdana","Cooper Black";
    font-size: 1.2em;
}


td{
    color:white;
    text-align: center;
    font-family: "Verdana","Cooper Black";
    font-size: 1.2em;
}

#container{
    border-style:solid;
    border-top-width: 10px;
    border-bottom-width: 10px;
    display: flex;
}

#divVar{
    border-style:solid;
    border-top-width: 10px;
    border-bottom-width: 10px;
    display: flex;
}

#defaultCanvas0{
    width: 1200px;
    height: 900px;  
    border-radius: 1.5em;
}

#video{
    border-style:solid;
    border-color: white;
    border-radius: 1.5em;
}

li{
    font-family: "Verdana","Cooper Black";
    font-size: 1.2em;
    margin-bottom: 10px;
}

b{
    color:#5CE1E6;
}

h2,h3{
    font-family: "Verdana","Cooper Black";
    color:white;
    margin-left: 10px;
    margin-right: 10px;
}

#menu{
    display: flex ;
    justify-content:center;
}

#ActivarMicro,#DesactivarMicro,#ayudaComandos,#guardarCanvas,#Inicio{
    margin-right: 5%;
    margin-top:2em;
    margin-bottom: 2em;
}

